<header>
  <svg *ngIf="style === 1" class="header-img" viewBox="0 0 1440 320"><path fill="#673ab7" fill-opacity="1" d="M0,96L80,90.7C160,85,320,75,480,80C640,85,800,107,960,106.7C1120,107,1280,85,1360,74.7L1440,64L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>

  <div class="nav primaryColorBG">
    <div class="header-items">
      <a routerLink="/" (click)="setPageTitle('home')">
        <img class="logo" src="../../assets/images/logo.png" alt="logo">
      </a>
      <div class="header-container">
        <div class="header-items-1">
          <button routerLink="/" (click)="setPageTitle('home')" class="btn from-center" mat-button>{{'navigation.home' | translate}}</button>
          <button routerLink="/products" (click)="setPageTitle('products')" class="btn from-center" mat-button>{{'navigation.products' | translate}}</button>
          <button routerLink="/add-product" (click)="setPageTitle('add-product')" *ngIf="userIsAuthenticated" class="btn from-center" mat-button>{{'navigation.add-product' | translate}}</button>
        </div>

        <div class="header-items-2">
          <button routerLink="/login" (click)="setPageTitle('sign-in')" *ngIf="!(userIsAuthenticated)" class="btn from-center" mat-button>{{'navigation.sign-in' | translate}}</button>
          <button routerLink="/" (click)="signOut()" *ngIf="userIsAuthenticated" class="btn from-center" mat-button>{{'navigation.sign-out' | translate}}</button>
        </div>

        <app-shared-language-menu orientation="vertical"></app-shared-language-menu>
      </div>

      <div class="mob-menu-buttons">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="mob-menu-icon">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

    </div>

    <mat-menu #menu="matMenu" class="mob-menu" [overlapTrigger]="false">
      <button routerLink="/" class="btn from-center" mat-menu-item>{{'navigation.home' | translate}}</button>
      <mat-divider></mat-divider>
      <button routerLink="/products" class="btn from-center" mat-menu-item>{{'navigation.products' | translate}}</button>
      <button *ngIf="userIsAuthenticated" routerLink="/add-product" class="btn from-center" mat-menu-item>{{'navigation.add-product' | translate}}</button>
      <mat-divider></mat-divider>
      <button routerLink="/login" *ngIf="!(userIsAuthenticated)" class="btn from-center" mat-menu-item><span>{{'navigation.sign-in' | translate}}</span></button>
      <button routerLink="/" (click)="signOut()" *ngIf="userIsAuthenticated" class="btn from-center" mat-menu-item>{{'navigation.sign-out' | translate}}</button>
    </mat-menu>
  </div>
</header>

