<header>
  <svg class="header-img" viewBox="0 0 1440 320"><path fill="#673ab7" fill-opacity="1" d="M0,96L80,90.7C160,85,320,75,480,80C640,85,800,107,960,106.7C1120,107,1280,85,1360,74.7L1440,64L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>  <mat-toolbar color="primary">
    <div class="header-items">
      <a routerLink="/" (click)="setPageTitle('Home')">{{'navigation.event-viewer' | translate}}</a>
      <span class="example-spacer"></span>
      <div class="header-container">
        <div class="header-items-1">
          <a routerLink="/" (click)="setPageTitle('Home')"><button mat-button>{{'navigation.home' | translate}}</button></a>
          <a routerLink="/events" (click)="setPageTitle('Products')" *ngIf="userIsAuthenticated"><button mat-button>{{'navigation.events' | translate}}</button></a>
          <a routerLink="/add-event" (click)="setPageTitle('Add product')" *ngIf="userIsAuthenticated"><button mat-button>{{'navigation.add-event' | translate}}</button></a>
        </div>

        <div class="header-items-2">
          <a routerLink="/login" (click)="setPageTitle('Login')" *ngIf="!userIsAuthenticated"><button mat-button>{{'navigation.sign-in' | translate}}</button></a>
          <a routerLink="/" (click)="setPageTitle('Home')" (click)="signOut()" *ngIf="userIsAuthenticated"><button mat-button>{{'navigation.sign-out' | translate}}</button></a>
          <app-shared-language-menu orientation="vertical"></app-shared-language-menu>
        </div>
      </div>

      <button mat-icon-button [matMenuTriggerFor]="menu" class="mob-menu">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <mat-menu #menu="matMenu">
      <a routerLink="/"><button mat-button>{{'navigation.home' | translate}}</button></a>
      <mat-divider></mat-divider>
      <a routerLink="/events" *ngIf="userIsAuthenticated"><button mat-menu-item>{{'navigation.events' | translate}}</button></a>
      <mat-divider></mat-divider>
      <a routerLink="/add-event" *ngIf="userIsAuthenticated"><button mat-menu-item>{{'navigation.add-event' | translate}}</button></a>
      <mat-divider></mat-divider>
      <a routerLink="/login" *ngIf="!userIsAuthenticated">
        <button mat-menu-item>
          <mat-icon>login</mat-icon>
          <span>{{'navigation.sign-in' | translate}}</span>
        </button>
      </a>
      <a routerLink="/" (click)="signOut()" *ngIf="userIsAuthenticated"><button mat-menu-item>{{'navigation.sign-out' | translate}}</button></a>
      <app-shared-language-menu orientation="horizontal"></app-shared-language-menu>
    </mat-menu>
  </mat-toolbar>
</header>

