<footer>
  <section class="style-1" *ngIf="style === 1">

  </section>

  <section class="style-2">
    <main>
      <div class="sec-1">
        <h3>About us</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet autem cum delectus dignissimos doloremque eos ex excepturi facilis hic inventore magni maxime mollitia!</p>
      </div>
      <div class="sec-2">
        <h3>Pages</h3>
        <a routerLink="/">{{'navigation.home' | translate}}</a>
        <a routerLink="/products">{{'navigation.products' | translate}}</a>
        <a routerLink="/">{{'navigation.home' | translate}}</a>
        <a routerLink="/">{{'navigation.home' | translate}}</a>
      </div>
      <div class="sec-3">
        <div class="social">
          <a href="">
            <img src="/assets/images/icons/facebook.svg" alt="facebook">
          </a>
          <a href="">
            <img src="/assets/images/icons/instagram.svg" alt="instagram">
          </a>
        </div>
        <h3>Subscribe</h3>
        <div class="subscribe">
          <input type="text" placeholder="Enter email address">
          <button class="slide">
            <img src="/assets/images/icons/paperplane.png" alt="paperplane">
          </button>
        </div>
      </div>
    </main>

    <div class="copyright">
      <a href="">Powered By <span>Darpet</span> © 2022.</a>
    </div>

  </section>
</footer>
