<!--<svg style="margin-bottom: -5px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#3b3b40" fill-opacity="1" d="M0,288L0,32L102.9,32L102.9,256L205.7,256L205.7,64L308.6,64L308.6,192L411.4,192L411.4,192L514.3,192L514.3,64L617.1,64L617.1,128L720,128L720,192L822.9,192L822.9,32L925.7,32L925.7,192L1028.6,192L1028.6,256L1131.4,256L1131.4,224L1234.3,224L1234.3,256L1337.1,256L1337.1,160L1440,160L1440,320L1337.1,320L1337.1,320L1234.3,320L1234.3,320L1131.4,320L1131.4,320L1028.6,320L1028.6,320L925.7,320L925.7,320L822.9,320L822.9,320L720,320L720,320L617.1,320L617.1,320L514.3,320L514.3,320L411.4,320L411.4,320L308.6,320L308.6,320L205.7,320L205.7,320L102.9,320L102.9,320L0,320L0,320Z"></path></svg>-->
<footer>
  <section class="style-2">
    <main>
      <div class="sec-1">
        <h3>About us</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet autem cum delectus dignissimos doloremque eos ex excepturi facilis hic inventore magni maxime mollitia!</p>
      </div>
      <div class="sec-2">
        <h3>Pages</h3>
        <a routerLink="/">{{'navigation.home' | translate}}</a>
        <a routerLink="/products">{{'navigation.products' | translate}}</a>
        <a routerLink="/">{{'navigation.home' | translate}}</a>
        <a routerLink="/">{{'navigation.home' | translate}}</a>
      </div>
      <div class="sec-3">
        <div class="social">
          <a href="">
            <img src="/assets/images/icons/facebook.svg" alt="facebook">
          </a>
          <a href="">
            <img src="/assets/images/icons/instagram.svg" alt="instagram">
          </a>
        </div>
        <h3>Subscribe</h3>
        <div class="subscribe">
          <input type="text" placeholder="Enter email address">
          <button class="slide">
            <img src="/assets/images/icons/paperplane.png" alt="paperplane">
          </button>
        </div>
      </div>
    </main>

    <div class="copyright">
      <a href="">Powered By <span>Darpet</span> © 2022.</a>
    </div>

  </section>
</footer>
