<footer>
  <section class="style-1" *ngIf="style === 1">

  </section>

  <section class="style-2">
    <main>
      <div class="sec-1">
        <h3>About us</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet autem cum delectus dignissimos doloremque eos ex excepturi facilis hic inventore magni maxime mollitia!</p>
      </div>
      <div class="sec-2">
        <a routerLink="/">{{'navigation.home' | translate}}</a>
        <a routerLink="/products">{{'navigation.products' | translate}}</a>
        <a routerLink="/">{{'navigation.home' | translate}}</a>
        <a routerLink="/">{{'navigation.home' | translate}}</a>
      </div>
      <div class="sec-3">
        <div class="social">
          <a href=""><mat-icon>facebook</mat-icon></a>
          <a href=""><mat-icon>facebook</mat-icon></a>
        </div>
        <button class="slide">Contact Us</button>
      </div>
    </main>

    <div class="copyright">
      <a href="">Powered By Darpet © 2022.</a>
    </div>

  </section>
</footer>
