<section class="login" [@slideIn]>
  <div class="wrapper">
    <div class="container">
      <div class="col-left">
        <div class="login-text">
          <h2>Already have a Account?</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget eros dapibus, ultricies tellus vitae, consectetur tortor. Etiam rutrum placerat
          </p>
          <a class="btn" routerLink="/login">Sign In</a>
        </div>
      </div>
      <div class="col-right">
        <div class="login-form">
          <h2>Sign Up</h2>
          <form (submit)="onRegister()" [formGroup]="form">
            <input type="text" formControlName="firstName" name="firstName" placeholder="First Name">
            <small class="text-danger" *ngIf="form.get('firstName').touched && !form.get('firstName').value">You need to enter First Name!</small>
            <input type="text" formControlName="lastName" name="lastName" placeholder="Last Name">
            <small class="text-danger" *ngIf="form.get('lastName').touched && !form.get('lastName').value">You need to enter Last Name!</small>
            <input type="text" formControlName="username" name="username" placeholder="Username">
            <small class="text-danger" *ngIf="form.get('username').touched && !form.get('username').value">You need to enter Username!</small>
            <input type="email" email formControlName="email" name="email" placeholder="Email">
            <small class="text-danger" *ngIf="form.get('email').touched && !form.get('email').value">You need to enter Email!</small>
            <input type="text" formControlName="phone" name="phone" placeholder="Phone">
            <small class="text-danger" *ngIf="form.get('phone').touched && !form.get('phone').value">You need to enter Phone!</small>
            <input type="password" formControlName="password" name="password" placeholder="Password">
            <small class="text-danger" *ngIf="form.get('password').value && form.get('password').value.length < 6 && form.get('password').touched">Password need to have min 6 characters!</small>
            <input class="btn" [disabled]="!form.valid" type="submit" value="Sign Up"/>
          </form>
          <div *ngIf="error">
            <p>{{error}}</p>
          </div>
          <small *ngIf="!form.valid && form.get('password').touched && form.get('email').touched">
            Username or password is incorrect
          </small>
        </div>
      </div>
    </div>
  </div>
</section>
