<section [@slideIn]>
  <form (submit)="onAddProduct()" [formGroup]="form">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>{{'add-product.add-new-product' | translate}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>{{'add-product.name' | translate}}</mat-label>
          <input matInput type="text" formControlName="name" name="name">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{'add-product.choose-date' | translate}}</mat-label>
          <input matInput [matDatepicker]="datepicker" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{'add-product.desc' | translate}}</mat-label>
          <textarea matInput type="textarea" formControlName="desc" name="desc"></textarea>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button [disabled]="!form.valid" type="submit" mat-raised-button>{{'add-product.add-product' | translate}}</button>
      </mat-card-actions>
    </mat-card>
  </form>

</section>
