<section [@slideIn]>
  <form (submit)="updateProduct()" [formGroup]="form" *ngIf="product">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>{{'edit-product.edit-product' | translate}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>{{'add-product.name' | translate}}</mat-label>
          <input matInput type="text" formControlName="name" name="name">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{'add-product.choose-date' | translate}}</mat-label>
          <input matInput [matDatepicker]="datepicker" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{'add-product.desc' | translate}}</mat-label>
          <textarea matInput type="textarea" formControlName="description" name="description"></textarea>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button [disabled]="checkIfDataChange()" color="accent" type="submit" mat-raised-button>Save</button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
