// --------------------------------------------------------
//           COLOR DEFINITION
// --------------------------------------------------------

$color-primary:                #673ab7;
$color-primary-light:          #bfcbd5;
$color-secondary:              #248ed9;
$color-secondary-light:        #c8e3f7;
$color-tertiary:               #00c4b3;
$color-tertiary-light:         #bff0ec;

$color-snow:                   #FFFFFF;
$color-pearl:                  #EFF1F2;
$color-smoke:                  #D7D8DB;
$color-fossil:                 #8F8F9A;
$color-iron:                   #5b5b62;
$color-shadow:                 #3b3b40;
$color-ink:                    #000000;
