@import '~@angular/material/theming';

// General style
html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  //font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,"AppleGothic",sans-serif !important;
  background: #EFF1F2;
}

button, a, p {
  font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,"AppleGothic",sans-serif !important;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

// Define a custom mixin that takes in the current theme
@mixin theme-color-grabber($theme) {
  // Parse the theme and create variables for each color in the pallete
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  // Create theme specfic styles
  .primaryColorBG {
    background-color: mat-color($primary);
  }
  .accentColorBG {
    background-color: mat-color($accent);
  }
  .warnColorBG {
    background-color: mat-color($warn);
  }
}

// Header mobile menu
.mob-menu {
  width: 100vh;
  position: relative;
  padding: 15px;
}
