<section class="section-1">
  <div>
    <mat-carousel timings="200ms ease-in"[autoplay]="true" interval="6000" color="white" [hideArrows]="false" [hideIndicators]="false">
      <mat-carousel-slide *ngFor="let slide of slides; let i = index" [image]="slide.image"></mat-carousel-slide>
    </mat-carousel>
  </div>
</section>

<section class="section-2">
  <div class="title">
    <h1>Products</h1>
  </div>
  <div class="products">
    <div class="box" *ngFor="let product of products">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <div class="content">
        <img src="{{product?.image}}" alt="{{product?.name}}">
        <div class="details">
          <h3>{{product?.name}}</h3>
          <a href="{{product?.link}}">Find out more</a>
        </div>
      </div>
    </div>
  </div>
</section>
